main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
}

section{
    padding: 5%;
    position: relative;
}

section#code {
    display: grid;
    grid-template-rows: auto 1fr;
    border-left: 1px solid black;
    :first-child {
        display: flex;
    }
}

section#game {
    padding: calc(1rem + var(--sizemnbt));
    >div {
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid black;
    }
}

div#code_input {
    display: grid;
    grid-template-rows: 1fr auto;
}

div#hero {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: black;
}

div#a {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    top: calc(100% - 100px);
}

div#b {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    left: calc(100% - 100px);
    top: 0%;
}

div#c {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    left: 50%;
    top: 50%;
}