body {
    --menusize: 100%; /*Tamanho do main (sem contar o padding)*/
    background-color: rgb(90, 90, 90);
    padding: 5vw;
    & div {
        background-color: rgb(145, 145, 145);
        border-radius: 1%;
        & section {
            display: grid;
            padding: 1rem;
            gap: 1rem;
        }
    }
}

section#settings {
    grid-template-columns: 1fr 1fr;
}

section#image {
    justify-content: center;
    & img {
        max-height: 10rem;
    }
}

div#options {
    display: grid;
    gap: 1rem;
    & >a {
        background-color: rgb(225, 225, 225);
        text-align: center;
        font-size: xx-large;
    }
    & >a:hover {
        background-color: rgb(200, 200, 200);
        transition: .2s background-color;
    }
}

div#graphic-space {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    & >h1 {
        text-align: center;
        margin: 0;
        font-size: xx-large;
    }
    & >div#graphic {
        border: 1px solid black;
        position: relative;
        display: grid;
        height: 100%;
        & *{
            display: block;
            border: 1px solid rgb(90, 90, 90);
            background-color: rgb(200, 200, 200)
        }
        & div{
            position: absolute;
            bottom: 0;
            transform-origin: 0 0 0;
            border: 1px solid red;
        }
    }
}