h1, p, h3, li{
    color:aliceblue
}

.bold {
    font-weight: bolder;
}

.red {
    color: red;
}

.text{ /* div raíz */
    display: block;
    float: left;
}
.example{
    display: grid;
    justify-items: center;
    margin-top: 0;
    & img{
        width: 15vw;
    }
}