<link rel="Stylesheet" href="http://localhost:3000/webSites/blocks/localAssets/levels/lv1/aside.css">
<div id="bl1" class="dragBlock">
    se(X==1){}
</div>
<div id="bl2" class="dragBlock">
    escreva("ódio ao JS");
</div>
<div id="bl3" class="dragBlock">
    teste
</div>