<link rel="Stylesheet" href="http://localhost:3000/webSites/blocks/localAssets/levels/lv1/code.css">
<pre>
funcao inicio(){
    int teste;
    <div class="reBl" id="gap1">[  ]</div>
    //sla
    <div class="reBl" id="gap2">[  ]</div>
    retorna 0;
    <div class="reBl" id="gap3">[  ]</div>
}
</pre>
