@import url("/globalAssets/css/main.css");
html, body{
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
}
body{
    background-image: url("/globalAssets/images/laptop-coding.jpg");
    margin-top: 0;
}
main{
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    & div{
        width: 50%;
        text-align: center;
    }
}