body {
    margin: 0;
}
main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}
section {
    border: 1px solid black;
}
section#inf>h1 {
    text-align: center;
}
/*CSS RANK*/
div#rank {
    overflow-y: auto;
    height: 30vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1%;
}
div#rank>div:nth-child(1) {
    border: 0;
}
div#rank p{
    margin: 0;
}
div#rank>div {
    display: grid;
    height: fit-content;
    grid-row-start: 1;
    grid-row-end: 1;
}
div#rank>div>img {
    height: 40px;
    grid-column-start: 1;
    grid-column-end: 1;
}
div#rank>div>p {
    grid-column-start: 2;
    grid-column-end: 2;
}
/*CSS PROGRESSSBAR*/
div#trf {
    height: 20%;
    padding: 2%;
}
div#trf>span {
    display: flex;
    justify-content: space-around;
}
div#pgrsbox {
    height: 30%;
    width: 100%;
    background-color: orange;
}
div#pgrsbar {
    width: 67%;
    height: 100%;
    background-color: blueviolet;
}
/*CSS TABULEIRO*/
div.level {
    background-color: black;
    border-radius: 50%;
}