@import url("/globalAssets/css/main.css");
html, body{
    height: 100vh;
    overflow-y: hidden;
}
header, main{
    box-sizing: border-box;
    display: block;
}
header{
    width: 100%;
    height: 20%;
    background-color: darkgray;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    position: relative; /* para o z-index funcionar */
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h1{
        margin-left: 5vw;
        float: left;
    }
    & #life{
        margin-right: 5vw;
        float: right;
        font-size: 3rem;
        display: flex;
        place-items: center;
    }
}
main{
    width: 100%;
    height: 80%;
    z-index: 1;
    & aside{
        float: left;
        width: 20%;
        height: 100%;
        position: relative;
        background-color: darkgray;
    }
    & section#code{
        float: right;
        width: 80%;
        height: 100%;
        background-color: rgb(40, 40, 40);
        color: white;
    }
}
button#run{
    position: absolute;
    background-color: lime;
    bottom: 10vh;
    left: 47vw;
    color: white;
    border: none;
    border-radius: 25%;
    font-size: 2rem;
    &:hover{
        background-color: rgb(20, 127, 20);
    }
}
.popup{
    position: fixed;
    top: 0;
    display: grid;
    place-items: center;
    background-color: rgba(29, 144, 207, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 1.5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    & .content{
        & button.close{
            font-size: 1.75rem; 
        }
    }
}
.open{
    visibility: visible !important;
    opacity: 1 !important;
}
#wrong{
    --popupWidth: 30vw;
    --popupHeight: 30vh;
    --border: 2rem; /* tamanho da borda do popup */
    width: var(--popupWidth);
    height: var(--popupHeight);
    margin: calc(50vh - var(--popupHeight)/2) auto auto calc(50vw - var(--popupWidth)/2);
    & .content{
        background-color: white;
        width: calc(var(--popupWidth) - var(--border));
        height: calc(var(--popupHeight) - var(--border));
        display: grid;
        place-items: center;
        & #output{
            color: red;
            font-size: 2rem;
        }
    }
}
#gameOver{
    --popupWidth: 30vw;
    --popupHeight: 30vh;
    --border: 2rem; /* tamanho da borda do popup */
    width: var(--popupWidth);
    height: var(--popupHeight);
    margin: calc(50vh - var(--popupHeight)/2) auto auto calc(50vw - var(--popupWidth)/2);
    & .content{
        background-color: white;
        width: calc(var(--popupWidth) - var(--border));
        height: calc(var(--popupHeight) - var(--border));
        display: grid;
        place-items: center;
    }
}
#terminal{
    --popupWidth: 50vw;
    --popupHeight: 50vh;
    --border: 2rem; /* tamanho da borda do popup */
    width: var(--popupWidth);
    height: var(--popupHeight);
    margin: calc(50vh - var(--popupHeight)/2) auto auto calc(50vw - var(--popupWidth)/2);
    & .content{
        background-color: black;
        color: white;
        width: calc(var(--popupWidth) - var(--border));
        height: calc(var(--popupHeight) - var(--border));
        padding: 0;
        & div, & input{
            display: inline-block;
            width: 100%;
            margin-top: 0;
        }
        & input{
            width: 98%;
            color: white;
            background-color: black;
            border: none;
        }
        & input:focus{
            border: none;
        }
    }
}