@import url(../../globalAssets/css/main.css);

:root{
    --menuWD: 20vw; /* largura do menu lateral do ranking */
    --ImgGG: 1vw; /* Gap da div nível */
    --ImgLB: calc(calc(100vw - var(--ImgGG) - var(--menuWD))/7); /* largura do retângulo de nível, proporção 1:3 //calc(calc(100vw-var(--menuWD))/7) */
}
html, body{
    height: 100vh;
    bottom: 0;
    overflow: hidden;
}
main{
    display: flex;
}
#exp{ /* menu lateral do ranking */
    display: flex;
    position: block;
    justify-content: center;
    float: right;
    background-color: rgba(128, 128, 128, 0.5);
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: var(--menuWD) !important; /* tamanho fixo */
    & .texto{
        margin: 0 auto auto auto;
    }
}
#levels{ /* níveis do CodeGamix */
    display: grid;
    flex-grow: 1; /* tamanho se autoajusta */
    float: left;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: calc(var(--ImgGG)/2); /* O valor deve ser dividido por 2 */
    & div{
        border: solid 1px red;
        height: calc(var(--ImgLB)/3);
        width: var(--ImgLB);
        background-image: url(localAssets/level.png);
        background-size: cover;
        background-position: center;
    }
}
