#gameover, #win{
    --popupWidht: 35vw;
    --popupHeight: 35vh;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: var(--popupWidht);
    height: var(--popupHeight);
    top: calc((100vh - var(--popupHeight))/2);
    left: calc((100vw - var(--popupWidht))/2);
    backdrop-filter: blur(10px);
    z-index: 100;
    display: grid;
    place-items: center;
}
#gameover{
    background-color: rgba(255, 0, 0, 0.5);
}
#win{
    background-color: rgba(0, 255, 0, 0.5);
}
#gameover.opened, #win.opened{
    visibility: visible;
    opacity: 1;
}
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
}

section{
    padding: 5%;
    position: relative;
}

section#code {
    display: grid;
    grid-template-rows: auto 1fr;
    border-left: 1px solid black;
    :first-child {
        display: flex;
        justify-content: right;
    }
}

section#game {
    padding: calc(1rem + var(--sizemnbt));
    >div {
        z-index: -1;
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid black;
        & div {
            position: absolute;
        }
        & div {
            position: absolute;
        }
    }
}

div#code_input {
    display: grid;
    grid-template-rows: 1fr auto;
}

div#hero {
    top: 50%;
    left: 50%;
    height: 100px;
    width: 100px;
    background-color: black;
}