pre{
    margin: 0;
    & .reBl{
        margin-left: 2em;
        display: block;
        color: red;
        border: 1px solid gray;
    }
}
.reBl{
    width: 25rem;
    height: 1.1rem;
    border-radius: 10%;
    margin-left: 1rem;
    background-color: azure;
}
