<div id="hero"></div>
<div class="enemy"></div>
<div id="end"></div>
<div class="wall" id="up"></div>
<div class="wall" id="right"></div>
<div class="wall" id="left"></div>
<div class="wall" id="down"></div>