<button id="mnhamburg">
    <span></span>
    <span></span>
    <span></span>
</button>
<div id="subNav" class="closed-menu">
    <a href="http://localhost:3000/webSites/account/index.html" id="account">
        <img src="http://localhost:3000/images/account-img" alt="Foto do seu perfil">
        <p>Seu nome</p>
    </a>
    <a href="http://localhost:3000/webSites/main/index.html">Main page</a>
    <a>sla</a>
    <a>sla</a>
    <a>sla</a>
</div>
