@import url("http://localhost:3000/globalAssets/css/main.css");
@import url("http://localhost:3000/globalAssets/css/jquery-ui.css");

html, body{
    height: 100vh;
    overflow-y: hidden;
}
aside, header, main{
    box-sizing: border-box;
    display: block;
    border: 1px solid black;
}
aside{
    float: left;
    width: 20%;
    height: 100%;
}
header{
    float: right;
    width: 80%;
    height: 20%;
}
main{
    float: right;
    width: 80%;
    height: 80%;
}